:root {
  --secondary-color: hsla(300, 100%, 96%, .5);
  --secondary-color-opaque: hsla(300, 100%, 96%, 1);
  --primary-color: #3d006e;
  --main-bg-color: #654a78;
  --accent-color: hsl(184, 85%, 85%);
}

body {
  font-family: "Overlock", sans-serif;
  margin: 0 5%;
  background-color: var(--main-bg-color);
  color: var(--primary-color);
} 

a {
  color: var(--accent-color);
  font-weight: bold;
}

header {
  display: inline-flex;
  justify-content: space-between;
  align-content: baseline;
}
header img {
  flex-basis: 8rem;
}
nav ul {
  display:flex;
  justify-content: end;
  gap: 1rem;
}

nav li {
  background-color: var(--primary-color);
  list-style: none;
  font-family: "Sono";
  display:block;
  padding: 1rem 2rem;
  text-align: center;
}

nav li:hover {
  background-color: black;
}

a:active {
  color: var(--secondary-color-opaque)
}

main {
  background-image: url("resources/images/skeinsonwood-purl-avenue-tZxSzzVWx4I-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 40%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  margin: .75rem 0;
  background: linear-gradient(var(--secondary-color),whitesmoke);
}

h2 {
  font-family: "Playwrite US Trad", cursive;
  background-color: var(--main-bg-color);
  font-size: 2rem;
  color: var(--accent-color);
  padding: .2rem 1rem;
  margin-bottom: 0;
}

section {
  background: linear-gradient(to right,var(--accent-color),40%,var(--secondary-color));
  margin: 0;
  padding: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
} 

#team figcaption {
  margin: .75rem 0;  
}

.container {
  background: linear-gradient(to right, whitesmoke,33%,var(--secondary-color));
  margin: 0;
  padding: .5rem;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px,100%), 1fr));
}
 .product {
  min-width: 150px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
 }

 .product figcaption {
  margin: 0.5rem auto;
  font-weight: bold;
 }

#team .container {
  
}
.team-member {
  background-color: var(--main-bg-color);
  color: var(--secondary-color-opaque);
  margin: .5rem;
  padding: 1rem;
  min-width: 200px;
  letter-spacing: .015rem;
  line-height: 1.25rem;
  flex: 1 2 min-content;
  flex-basis: min-content;
}

h3.container {
  padding: 4rem 1rem;
  margin:0;
}

@media only screen and (max-width:980px) {
  body {
    margin: 0;
  }

  nav li {
      padding: .5rem 1rem;
  }
  main {
    padding-left: 10%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  section {
    background: linear-gradient(to right,var(--accent-color),var(--secondary-color));
  }

}